# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# Environment variables
.env


# Ignore all CSVs inside data
data/
*.csv

# VSCode
.vscode/

# MacOS / Windows / Linux system files
.DS_Store
Thumbs.db


